<ion-header>
  <ion-toolbar>
    <ion-title>reporteProductProvedor</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
   <ion-row justify-content-center>
     <ion-col align-self-center size-md="6" size-lg="5" size-xs="12" >
        <div text-center>
            <h4>Consultar Producto</h4>
        </div>
        <form #form="ngForm" (ngSubmit)="formData(form)">
            <ion-item >
              <ion-input type="text" name="codigo" ngModel required></ion-input>
            </ion-item>
            <div class="buttonConsultar" padding>
              
            <ion-button type="submit">Consultar</ion-button>
              
            </div>
        </form>
        
        <ion-item>
          <ion-label >Codigo: </ion-label>
          <ion-label name="codigo" [(ngModel)]="datosPlanta.codigo" [ngModelOptions]="{standalone: true}" ngDefaultControl>
            {{datosPlanta.codigo}}
          </ion-label>
        </ion-item>
        <ion-item>
          <ion-label >Nombre: </ion-label>
          <ion-label name="nombre" [(ngModel)]="datosPlanta.nombre" [ngModelOptions]="{standalone: true}" ngDefaultControl>
            {{datosPlanta.nombre}}
          </ion-label>
        </ion-item>
        <ion-item>
            <ion-label >Especie: </ion-label>
            <ion-label name="especie" [(ngModel)]="datosPlanta.especie" [ngModelOptions]="{standalone: true}" ngDefaultControl>
              {{datosPlanta.especie}}
            </ion-label>
          </ion-item>
          <ion-item>
              <ion-label >Genero: </ion-label>
              <ion-label name="genero" [(ngModel)]="datosPlanta.genero" [ngModelOptions]="{standalone: true}" ngDefaultControl>
                {{datosPlanta.genero}}
              </ion-label>
            </ion-item>
            <ion-item>
                <ion-label >Precio Libra: </ion-label>
                <ion-label name="valorLibra" [(ngModel)]="datosPlanta.valorLibra" [ngModelOptions]="{standalone: true}" ngDefaultControl>
                  {{datosPlanta.valorLibra}}
                </ion-label>
              </ion-item>
              <ion-item>
                  <ion-label name="error" [(ngModel)]="datosPlanta.error" [ngModelOptions]="{standalone: true}" ngDefaultControl>
                    {{datosPlanta.error}}
                  </ion-label>
                </ion-item>
        
     </ion-col>
   </ion-row>
  </ion-grid>
</ion-content>
