<ion-header>
  <ion-toolbar>
    <ion-title>ReportarImperfectoProducto</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
      <ion-grid>
         <ion-row justify-content-center>
           <ion-col align-self-center size-md="6" size-lg="5" size-xs="12" >
              <div text-center>
                  <h4>Reportar Imperfecto Producto</h4>
              </div>
              <form #form="ngForm" (ngSubmit)="formData(form)">
                  <ion-item>
                    <ion-input required [(ngModel)]=codigo [ngModelOptions]="{standalone: true}" ></ion-input>
                  </ion-item>	
                  <ion-item> 
                    <ion-input required [(ngModel)]=nombre [ngModelOptions]="{standalone: true}"></ion-input>
                  </ion-item>
                  <ion-item> 
                      <ion-input name="descripcion" type="text" placeholder="Descripcion Daño" required ngModel></ion-input>
                  </ion-item>
                  <div class="boton" padding> 
                  <ion-button name="boton" type="submit">Reportar</ion-button>  
                  </div>
                  
              </form>
            </ion-col>
          </ion-row>
        </ion-grid>

</ion-content>

