.boton{
    
    text-align:left;
    align:left;
    
    
     
 }
 .boton ion-button{
     --ion-color-primary: #38801f ;
     align-items: center;
     font-size: 80%; 
     width:60%;
     margin-left: 18%;

     
 }