.fondo{
    --background:#fff url('../img/fondo.jpg') no-repeat center center / cover;
   
}
.estilosBoton{
   
    margin-left: 11%; 
    margin-top: 100%;
}
.estilosBoton ion-button{
    width: 89%;
}